<h1 class="page-header">Dodaj przepis</h1>
<div class="row">
	<div class="col-md-4">
		<form name="createRecipeForm" novalidate>
			<div class="form-group">
				<label for="name">Nazwa przepisu</label>
				<input type="text" class="form-control" ng-class="{'error': (createRecipeForm.$submitted || createRecipeForm.name.$touched ) &&  createRecipeForm.name.$error.required }" id="name" name="name" ng-model="newRecipe.name" placeholder="Nazwa przepisu" required>
			</div>
			<div class="form-group">
				<label for="price">Cena</label>
				<input type="number" step="0.01" class="form-control" ng-class="{'error': (createRecipeForm.$submitted || createRecipeForm.price.$touched ) &&  createRecipeForm.price.$error.required }" id="price" name="price" ng-model="newRecipe.price" placeholder="Cena" required>
			</div>
			<div text-angular ta-toolbar="taOptions.toolbar" ng-model="newRecipe.description"></div>
			<label class="custom-control custom-checkbox col-md-12">
				<input type="checkbox" class="custom-control-input" ng-model="newRecipe.isPublished">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Publiczny</span>
			</label>
		  <button class="btn btn-primary" ng-click="createRecipeForm.$valid && createRecipe()">Dodaj przepis</button>
		</form>
	</div>
	<div class="col-md-8">
		<div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
	</div>
</div>