<h1 class="page-header col-md-6">
  Lista przepisów 
  <a href="/przepisy/dodaj" class="btn btn-primary btn-sm">Nowy przepis</a>
</h1>
<table class="table table-fixed">
  <thead class="thead-inverse">
    <tr>
      <th style="width: 50px;">#</th>
      <th>Nazwa</th>
      <th>Koszt przepisu</th>
      <th>Cena widoczna dla klientów</th>
      <th>Widoczne dla klientów</th>
      <th></th>
      <th style="width: 50px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="recipe in recipes track by $index">
      <th scope="row">{{ $index+1 }}</th>
      <td>{{ recipe.name }}</td>
      <td>{{ recipe.realPrice | currency }}</td>
      <td>{{ recipe.price | currency }}</td>
      <td>
        <label class="custom-control custom-checkbox col-md-12 mb-15">
          <input type="checkbox" class="custom-control-input" ng-model="recipe.isPublished" ng-change="togglePublish(recipe)" ng-disabled="recipe.isLoading">
          <span class="custom-control-indicator"></span>
        </label>
      </td>
      <th class="text-right">
        <a href="/przepisy/{{ recipe._id }}/edit" class="btn btn-info btn-sm" ng-disabled="recipe.isLoading">Edytuj</a>
        <a href="#" ng-click="deleteRecipe(recipe)" class="btn btn-danger btn-sm" ng-disabled="recipe.isLoading">Usuń</a>
      </th>
      <th><span class="loader" ng-show="recipe.isLoading"></span></th>
    </tr>
  </tbody>
</table>