/*=================================
=            Variables            =
=================================*/

@color_primary: #FB5557;
@color_primary_hover: darken(@color_primary, 19%);


/*============================
=            Body            =
============================*/

body {
	background: white;
}

/*===============================
=            Buttons            =
===============================*/

button, a {
	cursor: pointer;
}

.btn {
	&:focus {
		box-shadow: none !important;
	}
}

.btn-primary {
	&,&:focus {
		background: @color_primary;
		border-color: @color_primary_hover;
		outline-color: @color_primary_hover;
	}
	&:hover,&:active {
		background: @color_primary_hover;
		border-color: @color_primary_hover;
		outline-color: @color_primary_hover;
	}
}


/*=======================================
=            Content wrapper            =
=======================================*/

.content-wrapper {
	margin-top: 56px;
}

/*=============================
=            Table            =
=============================*/

.table-fixed {
	table-layout: fixed;
}

.table td, .table th {
	vertical-align: middle;
}

/*==============================
=            Loader            =
==============================*/

.loader {
	margin: 5px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 2px solid mix(white,#177FC3,80%);
	border-right: 2px solid mix(white,#177FC3,80%);
	border-bottom: 2px solid mix(white,#177FC3,80%);
	border-left: 2px solid #177FC3;
	animation: loader .7s infinite linear;
	display: block;
	&,&:after {
		border-radius: 50%;
		width: 20px;
		height: 20px;
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*======================================
=            Input/Textarea            =
======================================*/

input,textarea {
	&.transparent {
		border-color: transparent;
		outline: none;
		background: transparent !important;
		cursor: default !important;
	}
	&.ng-invalid.ng-touched, &.error {
		&,&:focus {
			border-color: red;
		}
	}
}

/*================================
=            Dropzone            =
================================*/

.dropzone {
	border: 2px dashed @color_primary;
	background: white;
	.dz-message {
		margin: 3em auto;
		span {
			font-weight: bold; 
			color: @color_primary;
		}
	}
}